
<h1 class="text-center">Restaurants</h1>
<ul>
  <% @restaurants.each do |a| %>
  <li><strong> Name: </strong>  <%=  a[:name]  %>
    <strong> Address: </strong>  <%= a[:address] %>
    <strong>Category:</strong>  <%= a[:category] %>
    <strong> Phone Number: </strong><%= a[:phone_number] %>
     <%= link_to "See Details", restaurant_path(a[:id]) %></li>
  <% end %>
</ul>

